@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --animate-fanspin: spin 2s linear infinite;
  --animate-ledspin: opacity 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(180deg);
    }
  }
  @keyframes opacity {
    50% {
      opacity: 0.2;
      transform: rotate(3deg);
    }
  }
}

.cluster-icon-class {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size : 20px
}
